.campaign_summary
{
  float: left;
  padding-top: 20px;
  margin-top: 30px;
  text-align: center;
  p
  {
    color: #8b8a8a;
    font-size: 18px;
    line-height: 1.4;
  }
}

.reserve
{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
  width: 274px;
  font-size: 32px;
}

#middle_reserve
{
  padding: 60px;
  h2
  {
    margin-bottom: 26px;
  }
}
