%div{:id => "feedback", :class => "gray_background"}
  %div{:class => "wrapper clearfix" }
    %h2 Thank you so much for your feedback
    %p True to type ?
    %input

    %p Foam quality / stability
    %input{:type => "radio", :name => "q2", :id => "q2_choice1"}
    %label{:for => "q2_choice1"} creamy
    %input{:type => "radio", :name => "q2", :id => "q2_choice2"}
    %label{:for => "q2_choice2"} very fine porosity
    %input{:type => "radio", :name => "q2", :id => "q2_choice3"}
    %label{:for => "q2_choice3"} fine porosity
    %input{:type => "radio", :name => "q2", :id => "q2_choice4"}
    %label{:for => "q2_choice4"} high stability
    %input{:type => "radio", :name => "q2", :id => "q2_choice5"}
    %label{:for => "q2_choice5"} light stability
    %input{:type => "radio", :name => "q2", :id => "q2_choice6"}
    %label{:for => "q2_choice6"} not stable

    %p Color
    %input{:type => "radio", :name => "q3", :id => "q3_choice1"}
    %label{:for => "q3_choice1"} gold
    %input{:type => "radio", :name => "q3", :id => "q3_choice2"}
    %label{:for => "q3_choice2"} amber
    %input{:type => "radio", :name => "q3", :id => "q3_choice3"}
    %label{:for => "q3_choice3"} brown
    %input{:type => "radio", :name => "q3", :id => "q3_choice4"}
    %label{:for => "q3_choice4"} black

    %p Clarity
    %input{:type => "radio", :name => "q4", :id => "q4_choice1"}
    %label{:for => "q4_choice1"} very clear
    %input{:type => "radio", :name => "q4", :id => "q4_choice2"}
    %label{:for => "q4_choice2"} clear
    %input{:type => "radio", :name => "q4", :id => "q4_choice3"}
    %label{:for => "q4_choice3"} somewhat opaque
    %input{:type => "radio", :name => "q4", :id => "q4_choice4"}
    %label{:for => "q4_choice4"} opaque
    %input{:type => "radio", :name => "q4", :id => "q4_choice5"}
    %label{:for => "q4_choice5"} very opaque

    %p Aroma
    %input{:type => "radio", :name => "q5", :id => "q5_choice1"}
    %label{:for => "q5_choice1"} stark
    %input{:type => "radio", :name => "q5", :id => "q5_choice2"}
    %label{:for => "q5_choice2"} quite stark
    %input{:type => "radio", :name => "q5", :id => "q5_choice3"}
    %label{:for => "q5_choice3"} light tastelesness
    %input{:type => "radio", :name => "q5", :id => "q5_choice4"}
    %label{:for => "q5_choice4"} remarkable tastelesness
    %input{:type => "radio", :name => "q5", :id => "q5_choice5"}
    %label{:for => "q5_choice5"} absolute tastelesness

    %p Taste
    %input{:type => "radio", :name => "q6", :id => "q6_choice1"}
    %label{:for => "q6_choice1"} stark
    %input{:type => "radio", :name => "q6", :id => "q6_choice2"}
    %label{:for => "q6_choice2"} quite stark
    %input{:type => "radio", :name => "q6", :id => "q6_choice3"}
    %label{:for => "q6_choice3"} light tastelesness
    %input{:type => "radio", :name => "q6", :id => "q6_choice4"}
    %label{:for => "q6_choice4"} remarkable tastelesness
    %input{:type => "radio", :name => "q6", :id => "q6_choice5"}
    %label{:for => "q6_choice5"} absolute tastelesness

    %a{:class => "blue_button"} Submit
