- @campaigns.each do |campaign|
  %section.container
    = link_to campaign.name, campaign_path(campaign)
    .content
      %p= campaign.brewery.name
      %p= campaign.short_description
      %p= campaign.deadline
