#campaigns {
  padding-left: 30px;
  padding-right: 30px;

  .campaign {
    float: left;
    width: 250px;
    margin: 10px 30px;
    font-size: 16px;

    a, a:hover {
      text-decoration: none;
      color: #323232;
    }

    span {
      white-space: nowrap;
    }

    img {
      float: left;
      margin-right: 10px;
      width: 100%;
    }

    .description {
      margin-top: 30px;

      p {
        margin-top: 10px;
      }

      p.brewery {
        float: left;
      }

      p.deadline {
        float: right;
      }
    }
  }
}

.campaign_summary {
  width: 100%;
  text-align: left;
}

#cheer-with-us {
  a, a:hover {
    text-decoration: none;
    color: #323232;
    text-align: center;

    li {
      margin:10px 0;
      padding:10px;

      p {
        font-size:80%;
        margin-top: 10px;
      }
    }
  }

  a:hover li {
    border: 2px solid black;
    margin: 8px 0;
    padding: 10px 8px;
  }
}
